<template>
  <v-row justify="center">
    <v-dialog v-model="dialog" persistent max-width="500">
      <template v-slot:activator="{ on, attrs }">
        <v-btn color="teal accent-3" dark v-bind="attrs" v-on="on">
          ADD
          <v-icon dark right>mdi-account-multiple-plus</v-icon>
        </v-btn>
      </template>
      <v-card>
        <v-card-title class="headline">Create User</v-card-title>
        <v-card class="pa-5" color="grey darken-4">
          <div>
            <!-- first_name -->
            <div style="">
              <v-text-field
                v-model="UserNew.first_name"
                label="First Name"
                :rules="rules"
                hide-details="auto"
              ></v-text-field>
            </div>
            <!-- Last Name -->
            <div>
              <v-text-field
                v-model="UserNew.last_name"
                label="Last Name"
                :rules="rules"
                hide-details="auto"
              ></v-text-field>
            </div>
            <!-- nick_name -->
            <div>
              <v-text-field
                v-model="UserNew.nick_name"
                label="Nick Name"
              ></v-text-field>
            </div>
            <!-- email -->
            <div>
              <v-text-field
                v-model="UserNew.email"
                label="Email"
                :rules="rules"
                hide-details="auto"
              ></v-text-field>
            </div>
            <!-- password -->
            <div>
              <v-text-field
                v-model="UserNew.password"
                label="Password"
                :rules="rules"
                hide-details="auto"
              ></v-text-field>
            </div>
            <!-- facebook -->
            <div>
              <v-text-field
                v-model="UserNew.facebook"
                label="Facebook"
              ></v-text-field>
            </div>
            <!-- twitter -->
            <div>
              <v-text-field
                v-model="UserNew.twitter"
                label="Twitter"
              ></v-text-field>
            </div>
            <!-- line -->
            <div>
              <v-text-field v-model="UserNew.line" label="Line"></v-text-field>
            </div>
            <!-- youtube -->
            <div>
              <v-text-field
                v-model="UserNew.youtube"
                label="Youtube"
              ></v-text-field>
            </div>
            <!-- website -->
            <div>
              <v-text-field
                v-model="UserNew.website"
                label="Website"
              ></v-text-field>
            </div>
          </div>
        </v-card>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="onSave()">Save</v-btn>
          <v-btn color="red darken-1" text @click="onCancel()">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
export default {
  data() {
    return {
      dialog: false,
      rules: [
        (value) => !!value || 'Required.',
        (value) => (value && value.length >= 5) || 'Min 5 characters',
      ],
      UserNew: {
        first_name: '',
        last_name: '',
        nick_name: '',
        email: '',
        password: '',
        facebook: '',
        twitter: '',
        line: '',
        youtube: '',
        website: '',
      },
      isTrueUse: false,
    }
  },
  methods: {
    onSave() {
      this.isTrueUse = false
      if (
        (this.UserNew.first_name.length,
        this.UserNew.last_name.length,
        this.UserNew.email.length,
        this.UserNew.password.length) > 4
      ) {
        this.isTrueUse = true
        for (const property of this.$store.state.UserList) {
          if (property.email === this.UserNew.email) {
            this.isTrueUse = false
            break
          }
        }
        if (this.isTrueUse) {
          this.$store.dispatch('AddUser', this.UserNew)
          this.dialog = false
        } else {
          alert('มี Email นี้อยู่แล้ว')
        }
      } else {
        alert(
          '{ First Name, Last Name, Email, Password} ต้องมากกว่า 4 ตัวอักษร'
        )
      }
    },
    onCancel() {
      this.dialog = false
    },
  },
}
</script>
