<template>
  <div>
    <v-flex fill-height xs12 sm16 md16>
      <v-card color="grey darken-3" class="pa-3">
        <!-- first_name -->
        <v-row :key="1">
          <v-col :key="1" cols="5">
            <v-chip class="mt-4" color="pink" label text-color="white">
              <v-icon left>mdi-label</v-icon>
              First Name
            </v-chip>
          </v-col>
          <v-col :key="2" cols="6">
            <div>
              <v-text-field
                v-model="User.first_name"
                label="First Name"
                :rules="rules"
                hide-details="auto"
                :disabled="IsEdit"
              ></v-text-field>
            </div>
          </v-col>
        </v-row>
        <!-- last_name -->
        <v-row :key="2">
          <v-col :key="1" cols="5">
            <v-chip class="mt-4" color="pink" label text-color="white">
              <v-icon left>mdi-label</v-icon>
              Last Name
            </v-chip>
          </v-col>
          <v-col :key="2" cols="6">
            <div>
              <v-text-field
                v-model="User.last_name"
                label="Last Name"
                :rules="rules"
                hide-details="auto"
                :disabled="IsEdit"
              ></v-text-field>
            </div>
          </v-col>
        </v-row>
        <!-- nick_name -->
        <v-row :key="3">
          <v-col :key="1" cols="5">
            <v-chip class="mt-4" color="pink" label text-color="white">
              <v-icon left>mdi-label</v-icon>
              Nick Name
            </v-chip>
          </v-col>
          <v-col :key="2" cols="6">
            <div>
              <v-text-field
                v-model="User.nick_name"
                label="Nick Name"
                :disabled="IsEdit"
              ></v-text-field>
            </div>
          </v-col>
        </v-row>
        <!-- email -->
        <v-row :key="4">
          <v-col :key="1" cols="5">
            <v-chip class="mt-4" color="pink" label text-color="white">
              <v-icon left>mdi-label</v-icon>
              Email
            </v-chip>
          </v-col>
          <v-col :key="2" cols="6">
            <div>
              <v-text-field
                v-model="User.email"
                label="Email"
                :rules="rules"
                hide-details="auto"
                :disabled="IsEdit"
              ></v-text-field>
            </div>
          </v-col>
        </v-row>
        <!-- password -->
        <v-row :key="5">
          <v-col :key="1" cols="5">
            <v-chip class="mt-4" color="pink" label text-color="white">
              <v-icon left>mdi-label</v-icon>
              Password
            </v-chip>
          </v-col>
          <v-col :key="2" cols="6">
            <div>
              <v-text-field
                v-model="User.password"
                label="Password"
                :rules="rules"
                hide-details="auto"
                :disabled="IsEdit"
              ></v-text-field>
            </div>
          </v-col>
        </v-row>
        <!-- facebook -->
        <v-row :key="6">
          <v-col :key="1" cols="5">
            <v-chip class="mt-4" color="pink" label text-color="white">
              <v-icon left>mdi-label</v-icon>
              Facebook
            </v-chip>
          </v-col>
          <v-col :key="2" cols="6">
            <div>
              <v-text-field
                v-model="User.facebook"
                label="Facebook"
                :disabled="IsEdit"
              ></v-text-field>
            </div>
          </v-col>
        </v-row>
        <!-- twitter -->
        <v-row :key="7">
          <v-col :key="1" cols="5">
            <v-chip class="mt-4" color="pink" label text-color="white">
              <v-icon left>mdi-label</v-icon>
              Twitter
            </v-chip>
          </v-col>
          <v-col :key="2" cols="6">
            <div>
              <v-text-field
                v-model="User.twitter"
                label="Twitter"
                :disabled="IsEdit"
              ></v-text-field>
            </div>
          </v-col>
        </v-row>
        <!-- line -->
        <v-row :key="8">
          <v-col :key="1" cols="5">
            <v-chip class="mt-4" color="pink" label text-color="white">
              <v-icon left>mdi-label</v-icon>
              Line
            </v-chip>
          </v-col>
          <v-col :key="2" cols="6">
            <div>
              <v-text-field
                v-model="User.line"
                label="Line"
                :disabled="IsEdit"
              ></v-text-field>
            </div>
          </v-col>
        </v-row>
        <!-- youtube -->
        <v-row :key="9">
          <v-col :key="1" cols="5">
            <v-chip class="mt-4" color="pink" label text-color="white">
              <v-icon left>mdi-label</v-icon>
              Youtube
            </v-chip>
          </v-col>
          <v-col :key="2" cols="6">
            <div>
              <v-text-field
                v-model="User.youtube"
                label="Youtube"
                :disabled="IsEdit"
              ></v-text-field>
            </div>
          </v-col>
        </v-row>
        <!-- website -->
        <v-row :key="10">
          <v-col :key="1" cols="5">
            <v-chip class="mt-4" color="pink" label text-color="white">
              <v-icon left>mdi-label</v-icon>
              Website
            </v-chip>
          </v-col>
          <v-col :key="2" cols="6">
            <div>
              <v-text-field
                v-model="User.website"
                label="Website"
                :disabled="IsEdit"
              ></v-text-field>
            </div>
          </v-col>
        </v-row>
        <!-- Button -->
        <v-row :key="11" justify="end" alignment="end">
          <v-col cols="auto">
            <v-btn color="primary" @click="onEdit"> {{ btn1 }} </v-btn>
            <v-btn color="deep-orange darken-4" @click="onDelete">
              <v-icon v-if="IsEdit" left>mdi-delete</v-icon>
              {{ btn2 }}
            </v-btn>
          </v-col>
        </v-row>
      </v-card>
    </v-flex>
  </div>
</template>

<script>
export default {
  props: ['uuid', 'fn', 'ln', 'nn', 'e', 'p', 'f', 't', 'line', 'y', 'web'],
  data() {
    return {
      IsEdit: true,
      btn1: 'Edit',
      btn2: 'Delete',
      isTrueUse: false,
      User: {
        uuid: '',
        first_name: '',
        last_name: '',
        nick_name: '',
        email: '',
        password: '',
        facebook: '',
        twitter: '',
        line: '',
        youtube: '',
        website: '',
      },
      UserF: {
        uuid: '',
        first_name: '',
        last_name: '',
        nick_name: '',
        email: '',
        password: '',
        facebook: '',
        twitter: '',
        line: '',
        youtube: '',
        website: '',
      },
      rules: [
        (value) => !!value || 'Required.',
        (value) => (value && value.length >= 5) || 'Min 5 characters',
      ],
    }
  },
  mounted() {
    this.SetUser()
    this.ResetUser()
  },
  created() {},
  methods: {
    onEdit() {
      if (this.IsEdit) {
        this.btn1 = 'Save'
        this.btn2 = 'Cancel'
        this.IsEdit = !this.IsEdit
      } else if (
        (this.User.first_name.length,
        this.User.last_name.length,
        this.User.email.length,
        this.User.password.length) > 4
      ) {
        // Save
        this.isTrueUse = true
        if (this.User.email !== this.UserF.email) {
          for (const property of this.$store.state.UserList) {
            console.log(property.email)
            console.log(this.User.email)
            if (property.email === this.User.email) {
              this.isTrueUse = false
              break
            }
          }
        }
        if (this.isTrueUse) {
          this.$store.dispatch('EditUser', this.User)
          this.btn1 = 'Edit'
          this.btn2 = 'Delete'
          this.IsEdit = !this.IsEdit
        } else {
          alert('มี Email นี้อยู่แล้ว')
        }
      } else {
        alert(
          '{ First Name, Last Name, Email, Password} ต้องมากกว่า 4 ตัวอักษร'
        )
      }
    },
    onDelete() {
      if (this.IsEdit) {
        console.log('Delete')
        this.$store.dispatch('DeleteUser', this.User)
      } else {
        this.btn1 = 'Edit'
        this.btn2 = 'Delete'
        this.ResetUser()
        this.IsEdit = !this.IsEdit
      }
    },
    ResetUser() {
      this.User.uuid = this.UserF.uuid
      this.User.first_name = this.UserF.first_name
      this.User.last_name = this.UserF.last_name
      this.User.nick_name = this.UserF.nick_name
      this.User.email = this.UserF.email
      this.User.password = this.UserF.password
      this.User.facebook = this.UserF.facebook
      this.User.twitter = this.UserF.twitter
      this.User.line = this.UserF.line
      this.User.youtube = this.UserF.youtube
      this.User.website = this.UserF.website
    },
    SetUser() {
      this.UserF.uuid = this.uuid
      this.UserF.first_name = this.fn
      this.UserF.last_name = this.ln
      this.UserF.nick_name = this.nn
      this.UserF.email = this.e
      this.UserF.password = this.p
      this.UserF.facebook = this.f
      this.UserF.twitter = this.t
      this.UserF.line = this.line
      this.UserF.youtube = this.y
      this.UserF.website = this.web
    },
  },
}
</script>
