<template>
  <v-layout column justify-center align-center>
    <v-flex fill-height xs12 sm16 md16>
      <v-card md16>
        <v-app-bar
          absolute
          color="indigo darken-2"
          dark
          shrink-on-scroll
          prominent
          scroll-target="#scrolling-techniques"
        >
          <v-app-bar-nav-icon></v-app-bar-nav-icon>

          <v-toolbar-title>
            <v-icon x-large color="blue lighten-4">mdi-account-group</v-icon>
            List User
          </v-toolbar-title>

          <v-spacer></v-spacer>
          <v-row justify="end">
            <AddUserComponent class="mt-2 ml-4" justify="end" />
          </v-row>
        </v-app-bar>
        <v-sheet
          id="scrolling-techniques"
          class="overflow-y-auto"
          max-height="800"
        >
          <v-card-text>
            <p>
              ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
            </p>
          </v-card-text>
          <v-container style="height: 1000px; padding-top: 70px">
            <UserComponent
              v-for="(value, index) in todos"
              :key="index"
              :uuid="value.uuid"
              :fn="value.first_name"
              :e="value.email"
              :ln="value.last_name"
              :nn="value.nick_name"
              :p="value.password"
              :f="value.facebook"
              :t="value.twitter"
              :line="value.line"
              :y="value.youtube"
              :web="value.website"
              class="pb-4"
            />
          </v-container>
        </v-sheet>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import UserComponent from '~/components/User.vue'
import AddUserComponent from '~/components/AddUser.vue'

export default {
  components: {
    UserComponent,
    AddUserComponent,
  },
  data() {
    return {
      DataList: [],
    }
  },
  computed: {
    todos() {
      return this.$store.state.UserList
    },
  },
  beforeMount() {
    this.$store.dispatch('GetListUser')
  },
  created() {
    this.$store.dispatch('GetListUser')
  },
  methods: {},
}
</script>
